body{
    background-color: aqua;
   
}

h1{
    font-family: 'Pangolin', cursive;
    text-align: center;
    font-size: 36px;
}
h2{
    font-family: 'IM Fell DW Pica', serif;
    text-align: center;
    font-size: 30px;
}
img{
    height: 200px;
    width: 25%;
    background-color: aqua
}
h3{
    font-family: 'Pangolin', cursive;
}
.pizza{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
}
.pizzaName{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 24px;
}
.description{
    font-family: 'IM Fell DW Pica', serif;
}
.price{
    font-family: 'IM Fell DW Pica', serif;
}
.guide{
    list-style-type: none;
}
.guide:before{
    content: '';
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: 40px;
    border-radius: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url("/assets/pizzaManOnlyPizza.jpeg")
}
